<p style="color: green"><%= notice %></p>

<header class="flex">
  <h1>Quotes</h1>
  <ul>
    <%= link_to quotes_path(sort_by: "saying") do %>
    <li><button type="button" class="btn btn-primary">Sort by Saying<i class="bi bi-arrow-down-up"></i></button></li>
    <% end %>

    <%= link_to quotes_path(sort_by: "said_by") do %> 
    <li> <button type="button" class="btn btn-primary">Sort By Said By<i class="bi bi-arrow-down-up"></i></button></li>
    <% end %>

    <%= link_to quotes_path(sort_by: "year") do %>
    <li> <button type="button" class="btn btn-primary">Sort by Year<i class="bi bi-arrow-down-up"></i></button></li>
    <% end %>

    <li><%= link_to new_quote_path, class: "btn btn-primary" do %><i class="bi bi-plus"></i> New Quote<% end %></li>

  </ul>
</header>


<div id="quotes">
  <% @quotes.each do |quote| %>
    <%= render quote %>
    <p>
      <%= link_to "Show this quote", quote %>
    </p>
  <% end %>
</div>


